html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: rgb(242, 242, 242);
    background-position: top center;
    background-repeat: no-repeat;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page{
    position: inherit;
    max-width: 1200px;
    min-height: auto;
    margin: 0 auto;
    font-size: 0;
}

.page__header {
    position: relative;
}

.header-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

.header-navigation__list {
    display: flex;
    justify-content: space-around;
}

.header-navigation__list-item
a {
    display: flex;
    justify-content: space-around;
    min-width: 239px;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.header-navigation__list-item
a:hover {
    color: #81b3d2;
}

.header-navigation__list-item
a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-logo {
    position: relative;
    min-width: 140px;
}

.main-logo
a {
    position: absolute;    
}

.background-photo__list {
    position: relative;
    display: flex;
    justify-content: center;
}

.background-photo {
    width: 100%;
    height: auto;
}

.intro-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.intro-welcome {
    position: absolute;
    width: 459px;
    height: auto;
    margin-top: 132px;
}

.page-block {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    font-size: 0;
}

.block1 {
    margin: 0 auto;
    padding: 50px 0;
    background-color: #ffffff;
}

.sedona {
    max-width: 440px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.five-reasons {
    margin-top: 38px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
}

.block2 {
    display: flex;
    height: 256px;
}

.block2__list {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 0 60px; 
    background-color: #81b3d2;
}

.present {
    max-width: 280px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.number-one {
    max-width: 280px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.feature-picture {
    width: 100%;
    height: auto;
}

.block3 {
    display: flex;
    height: 330px;
}


.block3__list-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-grow: 1;
}

.home {
    margin-top: 30px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.sojourn {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    text-transform: uppercase
}

.block3__list-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-grow: 1;
}

.food {
    margin-top: 30px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.cool-burger {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    text-transform: uppercase
}

.block3__list-souvenirs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-grow: 1;
}
 
.souvenirs {
    margin-top: 30px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.local-production {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    text-transform: uppercase
}

.block4 {
    display: flex;
    height: 256px;
}

.block4__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    background-color: #81b3d2;
}

.devil-bridge {
    max-width: 280px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.venture {
    max-width: 280px;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase
}

.layer-5 {
    width: 100%;
    height: auto;
}

.block5 {
    display: flex;
    height: 256px;
}

.block5__list-small-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    background-color: #eeeeee;
    flex-grow: 1;
}

.small-area {
    margin-top: 30px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.very-near {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    text-transform: uppercase
}

.block5__list-beautiful-road {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    flex-grow: 1;
}

.beautiful-road {
    margin-top: 30px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.not-boringr {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    text-transform: uppercase
}

.block5__list-few-tourists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    flex-grow: 1;
}

.few-tourists {
    margin-top: 30px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.local-production {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    text-transform: uppercase
}

.block6 {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    max-height: 330px;
}

.block6
.block6__list {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 0 60px; 
    background-color: #ffffff;
}

.interested {
    margin-top: 48px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.expected-date {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #333333;
    text-transform: uppercase
}

.brown-button__list {
    display: flex;
    justify-content: space-around;
    min-width: 568px;
    max-height: 86px;
    background-color: #766357;
}

.brown-button_list-button
a {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;

    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.brown-button_list-button
a:hover {
    color: #ffffff;
}

.brown-button_list-button
a:active {
    color: rgba(255, 255, 255, 0.3);  
}

.form {
    position: relative;
    overflow: hidden;
}

.form-search {
    position: absolute;
    top: 0;
    left: 316px;
    width: 512px;
    padding-top: 55px;
    padding-left: 56px;
    font: inherit;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.form-body {
    border: none;
    margin: 0;
    padding: 0;
}

.form-body p {
    border: none;
    margin: 0;
    padding: 0;
}

.form-search-label-from {
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
    margin-top: 6px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.form-search-label-to {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-top: 6px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.form-search-field {
    width: 346px;
    padding: 9px 0;
    padding-left: 14px;
    margin-bottom: 30px;
    max-height: 38px;
    font-size: 14px;
    line-height: 26px;
    font: inherit;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    border: none
}

.form-search-field:hover {
    font: inherit;
    background-color: #ebebeb;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.form-search-field:focus {
    font: inherit;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.form-search-calendar {
    position: relative;
    top: 6px;
    right: 40px;
    background-color: transparent;
    fill: #cacaca;
    border: none;
}

.form-search-calendar:hover {
    fill: #000000;
}

.form-search-calendar:active {
    font: inherit;
    fill: #81b3d2;
}

.humans {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 54px;
    margin-left: -2px;
    width: 458px;
    box-sizing: border-box;
}

.humans .find-item {
    margin: 0;
    width: auto;
}

.find-item .input-number {
    box-sizing: border-box;
    padding: 9px 0;
    margin-left: auto;
    max-height: 38px;
    width: 346px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.find-item .input-adults {
    margin-left: 39px;
    padding-left: 23px;
    padding-right: 23px;
    width: 114px;
    text-align: center;
}

.find-item .input-children {
    margin-left: 23px;
    padding-left: 23px;
    padding-right: 23px;
    width: 114px;
    text-align: center;
}

.find-item input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.find-item input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.find-item button {
    width: 38px;
    height: 38px;
    background-color: transparent;
    fill: #cacaca;
    border: none;
}

.minus-adult {
    position: absolute;
    top: 191px;
    left: 168px;
}

.plus-adult {
    position: absolute;
    top: 191px;
    left: 242px;
}

.minus-child {
    position: absolute;
    top: 191px;
    left: 400px;
}

.plus-child {
    position: absolute;
    top: 191px;
    left: 475px;
}

.find-item button:hover {
    fill: #000000;
}

.find-item button:active {
    fill: #81b3d2;
}

.search-button {
    padding: 16px 0;
    margin-bottom: 54px;
    width: 458px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}

.page-footer {
    max-width: 1200px;
    position: inherit;
    margin: 0 auto;
    font-size: 0;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-container {
    padding: 0 10px;
}

.page-footer .footer-container {
    display: flex;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 39px;
    padding-left: 15px;
}

.contacts-footer {
    width: 136px;
    margin: 0;
    margin-left: 118px;
    margin-right: 253px;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 224px;
    padding: 0;
    width: 154px;
    text-align: center;
    list-style: none;
}

.social-list li {
    margin-right: 6px;
}

.social-list li:nth-child(3n) {
    margin: 0;
}

.social-button {
    display: flex;
    width: 46px;
    height: 48px;
    color: #ffffff;
    background-color: #81b3d2;
    background-position: center;
}

.social-button:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.social-button:active {
    background-color: #5496bd;
    color: #ffffff;
    opacity: 0.3;
}


.button-tw {
    background-repeat: no-repeat;
    padding: 15px;
    text-align: center;
}
.button-fb {
    background-repeat: no-repeat;
    padding:  13px ;
    text-align: center;
}

.button-yt {
    background-repeat: no-repeat;
    padding: 13px;
    text-align: center;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 0;
    color: #000000;
    text-align: center;
}


/*hotels.html*/

